@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
body{
margin:0;
padding: 85px 190px 85px 190px;

}
#hrmnt input{
	margin-right: -20px;
	margin-top: -10px;
	height: 200px;
	width: 200px;
	font-weight: 500;
	font-size: 200px;
	background-color: rgba(0 , 0, 0, 0 );
	border: 1px solid rgba(0 , 0, 0, 0 );
}
#hrmnt input:hover{
	box-shadow: none;
}
#cont2{
	display:none;
	font-size: 200px;
	
	height:200px;
	background-color:#e8f0ff;
	border-radius: 35px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border:10px solid black;
}

.container{
    border: 9px solid black;
	text-align: center;
	margin-top: 30px;
	width: 97%;
	margin-right: auto;
	margin-left: auto;	
	border-radius: 30px;
	height: 200px;
	background-color: #CBE1ED;
}
p{
	margin-top: -10px;
}
.container_2 {
	padding: 0  150px 0 150px;

	text-align: center;
	align-items: center;
	font-size: 190px;
	display: flex;
	
}

.header-div{

font-family: 'Abel', sans-serif;
	 line-height: 1.8em;
       font-weight: bolder;
		width: auto;
	background-color: #122FC8;
	color: white;
	font-size: 27px;
	text-align: center;
	margin-top: auto;
	height: 55px;
}
#hrmnt{
	height:200px;
	background-color:#e8f0ff;
	border-radius: 35px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border:10px solid black;
}
#buttons{
	display: flex;
	justify-content: space-around;
	margin-top: 40px;

}

 input{
	font-size: 40px;
	height: 80px;
	width: 120px;
	border-radius: 10px 10px 10px 10px;
	border:7px solid black;
	cursor: pointer;
	background-color: #06DD10;
    font-weight: bolder;
}


.set{
	font-weight: 500;
	width: 210px;
	font-size: 47px;
}
 input:hover{
	box-shadow: inset 1px 25px 50px -30px #181C1F;
}

.header-div a{
	text-decoration: none;
	color: white;

}

.header-div a:hover{
	color: #09A9DB;
}
#buttons_2{
	display: flex;
	justify-content: space-around;
	margin-top: 23px;
}
.clear{
	font-weight: 500;
	width: 210px;
	font-size: 47px;
	background-color:#D5D9D5 ;
}
input:focus {
  outline: none;
}

.footer-div{
	width: auto;
	background-color: #122FC8;
	color: white;
	font-size: 27px;
	text-align: center;
	margin-top: 15px;
	height: 50px;

}

#start-clear{
	display: none;
	height: 165px;
}
#btnct{
width: 340px;
height: 145px;
background-color: #06DD10;
border-radius: 18px 18px 18px 18px;
border:7px solid black;
text-align: center;
line-height: 2.2em;
font-size: 53px;
margin-left: 40px;
margin-top: 50px;
font-family: 'Roboto Slab', serif;
display: none;
}


#test{
	display: flex;
}
#hrmnt{
display: flex;
}

#clear-2{
	width: 320px;
height: 130px;
background-color:#D90722;
border-radius: 18px 18px 18px 18px;
border:7px solid black;
text-align: center;
line-height: 2.2em;
font-size: 53px;
margin-left: 580px;
margin-top: -145px;
font-family: 'Roboto Slab', serif;
display: none;
}

#hidden-p{
	color: white;
	font-weight: 500;
	line-height: 1.3em;
	font-size: 33px;
	text-align: left;
	margin-left: 55px;
	display: none;
	cursor: pointer;
}

#hrmnt{
	font-size: 200px;
	

}

#hrs{
	margin-top: -30px;
	margin-left: 230px;
}
#scs{
	margin-top: -30px;
	margin-right: -50px;
}
#mns{
	margin-top: -30px;
	margin-left:-10px;
	
}


#up-div{
	font-size: 210px;
	margin-top: -28px;
	margin-left:250px;
}

#milliseconds{
	font-size: 28px;
	margin-top: -50px;
	margin-left:720px;
}
